@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: rgba(203, 221, 239, 0.6078431373);
}

a {
  text-decoration: none;
  color: white;
  margin: 15px;
  transition: 1s;
}

a:hover {
  color: rgb(19, 15, 15);
}

p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}

.img-txt {
  width: 30rem;
  height: auto;
  padding: 0.5 rem;
  margin: 0% auto;
  justify-content: center;
  display: block;
}

body {
  flex-wrap: wrap;
}

h2 {
  font-size: 34px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: whitesmoke;
  text-align: center;
}

h3 {
  font-size: 30px;
  font-family: Verdana, Georgia, "Times New Roman", Times, serif, Tahoma, sans-serif;
  color: whitesmoke;
}

.img-crs {
  width: 50rem;
  height: 40 rem;
  margin: 0% auto;
  justify-content: center;
  display: block;
}

.bform {
  text-align: center;
}

.carousel-txt {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-txt h5 {
  font-size: 30px;
  margin-bottom: 0;
}

.nav {
  background: #293241;
  height: 80px;
  color: white;
}

.nav-container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.navlogo {
  font-size: 1.5em;
  font-weight: 800;
}

.navmenu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}

.navitem {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .navmenu {
    display: none;
  }
  .navmenu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: #A3DCD5;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
    z-index: 999;
  }
  .navinput:checked + .navmenu {
    clip-path: circle(100% at center);
  }
  #menu {
    display: none;
  }
  p {
    text-align: justify;
    font-size: 14px;
  }
  #carouselExample {
    display: none;
  }
  h2 {
    bottom: 150px;
    position: absolute;
  }
  .efemerides {
    display: none;
  }
  .container .card {
    display: none;
  }
  body {
    margin-top: 10px;
  }
  .formcontact {
    margin-top: 10px;
  }
  .form-group {
    margin-top: 20px;
  }
  .hidden {
    display: none;
  }
}
@media only screen and (min-width: 501px) and (max-width: 960px) {
  .navlabel {
    display: block;
    cursor: pointer;
  }
  #carouselExample {
    display: none;
  }
  .navmenu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: #A3DCD5;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
    z-index: 999;
  }
  .navinput:checked + .navmenu {
    clip-path: circle(100% at center);
  }
  #menu {
    display: none;
  }
  h2 {
    margin-top: 10px;
  }
  .reseñas {
    display: none;
  }
  .container .card {
    display: none;
  }
  body {
    margin-top: 10px;
  }
  .formcontact {
    margin-top: 10px;
  }
  .form-group {
    margin-top: 20px;
  }
  p {
    font-size: 14px;
    text-align: justify;
  }
  .hidden {
    display: none;
  }
}
@media only screen and (min-width: 961px) {
  .navlabel {
    display: none;
  }
  #menu {
    display: none;
  }
  .carousel-item {
    padding: 100px;
    justify-content: center;
  }
  .img-crs {
    width: 40rem;
    height: 40rem;
    margin: 0% auto;
    justify-content: center;
    display: block;
  }
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.video-container {
  position: relative;
  padding-bottom: 70%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spotify-container {
  position: relative;
  padding-bottom: 20%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}

.calendar {
  text-align: center;
  background: linear-gradient(to left, #cafafa, #297A7A);
}

ol {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0%;
  border-style: solid;
  border-color: #0b0101;
  border-width: 2px;
}

.day {
  background-color: lightgray;
  font-weight: bold;
  text-align: center;
  border: 1px solid;
  padding: 10px;
}

.numberc {
  border: 1px solid #0b0101;
  padding: 10px;
  text-align: center;
}

p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.formcontact {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.bform {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.formcontact {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.bform {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  height: 200px;
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.toma-nota {
  padding: 20px;
}

.toma-nota h2 {
  text-align: center;
  margin-bottom: 20px;
}

.citas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cita {
  max-width: 500px;
  margin-bottom: 30px;
}

blockquote {
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.autor {
  text-align: right;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
