@media only screen and (min-width: 961px){
.navlabel{
    display: none;
}
#menu{
    display: none;
}
.carousel-item {
    padding: 100px;
    justify-content: center;
}
.img-crs {
    width: 40rem;
    height: 40rem;
    margin:0% auto;
    justify-content: center;
    display: block;}
}

    
