.calendar{
    text-align: center;
    background: linear-gradient(to left, #cafafa, #297A7A);

}

ol{
list-style-type: none;
display: grid;
grid-template-columns: repeat(7, 1fr);
padding: 0%;
border-style: solid;
border-color: #0b0101;
border-width: 2px;
}

.day{
    background-color:lightgray;
    font-weight: bold;
    text-align: center;
}