* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #CBDDEF9B;
}

a {
    text-decoration: none;
    color: white;
    margin: 15px;
    transition: 1s;
}

a:hover {
    color: rgb(19, 15, 15);
}
p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}
.img-txt {
    width: 30rem;
    height: auto;
    padding: 0.5 rem;
    margin: 0% auto;
    justify-content: center;
    display: block;
}
body{
    flex-wrap: wrap;
}
h2{
    font-size: 34px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: whitesmoke;
    text-align: center;

}   
h3{
    font-size: 30px;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif, Tahoma, sans-serif;
    color: whitesmoke;
}
.img-crs {width: 50rem;
    height: 40 rem;
    margin:0% auto;
    justify-content: center;
    display: block;
}
.carousel-txt{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel-txt h5{
    font-size: 30px;
    margin-bottom: 0;
}
