* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #CBDDEF9B;
}

a {
    text-decoration: none;
    color: white;
    margin: 15px;
    transition: 1s;
}

a:hover {
    color: rgb(19, 15, 15);
}
.img-txt {
    width: 30rem;
    height: auto;
    padding: 0.5 rem;
    margin: 0% auto;
    justify-content: center;
    display: block;
}
h2{
    font-size: 34px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: whitesmoke;
    text-align: center;

}
    
h3{
    font-size: 30px;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif, Tahoma, sans-serif;
    color: whitesmoke;
}

